/* Стили для страницы регистрации */
.registration-container {
    margin: 50px auto;
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input:focus {
    outline: none;
    border-color: #ffcd82;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ffcd82;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f4a460;
}

.login-redirect {
    text-align: center;
    margin-top: 20px;
}

.login-redirect a {
    color: #ffcd82;
    text-decoration: none;
}

.login-redirect a:hover {
    text-decoration: underline;
}
