form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #ffcd82;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffb34d;
}

.error {
    color: red;
    font-size: 14px;
}

#profileForm {
  display:none
}

#logoutForm {
  display:inline;
}
